---
import { Picture } from 'astro:assets';

const { track, image, title, speaker, speakerCompany, video, language } = Astro.props;
// aspectRatio="16:9" fix="cover"
---

<div class="flex flex-wrap items-start justify-center">
    <div class="basis-full sm:basis-1/2 relative md:basis-1/3">
        {image !== undefined ?
            <Picture
                src={image}
                width={216}
                height={121}
                densities={[1, 2]}
                formats={['webp']}
                alt={title + ' - ' + speaker + ' - ' + speakerCompany}
                class={"w-full h-full object-cover"}
                loading={'lazy'}
            />
        : null}

        {video !== undefined ?
            <div class="before:content before:absolute before:top-2/4 before:left-2/4 before:transform-50
                before:w-16 before:h-16 before:lg:w-26 before:lg:h-26 before:bg-transparent before:border-4
                before:rounded-full before:border-grey after:content after:absolute after:top-2/4
                after:left-2/4 after:transform-50 after:w-0 after:h-0 after:arrow-right">
                <a href={video} target="_blank" rel="noopener" class="absolute inset-0 z-20" />
            </div>
        : null}
    </div>
    <div class="basis-full p-4 sm:basis-1/2 sm:py-0 sm:px-4 md:basis-2/3">
        {track && <span class="bg-gray-100 py-1 px-2 border-l-4 border-pink-500 text-pink-500">
            {track === "keynote" ? "Keynote" : track === "business" ? "Business Track" : "Technical Track"}
        </span>} 
        {language && <span class="mx-2 px-2 py-0.5 border-2 border-gray-700 text-sm uppercase">
            {language}
        </span>}
        <h4 class="pt-2 pb-3">{title}</h4>
        <p class="text-l font-normal text-gray-600 pb-8">
            {speaker} {speakerCompany && ' - ' + speakerCompany}
        </p>
    </div>
</div>
