---
import Layout from '../../layouts/Layout.astro';
import PageBanner from '../../components/PageBanner.astro';
import SubNavigation from '../../components/Past/SubNavigation.astro';
import Talk from '../../components/Past/Talk.astro';
import Newsletter from '../../components/Newsletter.astro';

import ImgThomasGoletz from '../../assets/talks/mm14ro/thomasgoletz.png';
import ImgBenMarks from '../../assets/talks/mm14ro/benmarks.png';
import ImgPanel2 from '../../assets/talks/mm14ro/panel2.png';

import ImgVladStanescu from '../../assets/talks/mm14ro/vladstanescu.png';
import ImgMattMacDougall from '../../assets/talks/mm14ro/mattmacdougall.png';
import ImgMariusLazarescu from '../../assets/talks/mm14ro/mariuslazarescu.png';
import ImgAlexUrsa from '../../assets/talks/mm14ro/alexursa.png';
import ImgRazvanBarbu from '../../assets/talks/mm14ro/razvanbarbu.png';
import ImgPanel1 from '../../assets/talks/mm14ro/panel1.png';
import ImgKubaZwolinski from '../../assets/talks/mm14ro/kubazwolinski.png';
import ImgDeryckHarlick from '../../assets/talks/mm14ro/deryckharlick.png';

import ImgFabianBlechschmidt from '../../assets/talks/mm14ro/fabianblechschmidt.png';
import ImgKamilBarbarski from '../../assets/talks/mm14ro/kamilbarbarski.png';
import ImgTomRobertshaw from '../../assets/talks/mm14ro/tomrobertshaw.png';
import ImgAntonKrill from '../../assets/talks/mm14ro/antonkrill.png';
import ImgIgorMinialo from '../../assets/talks/mm14ro/igorminialo.png';
import ImgNikolaiKrambrock from '../../assets/talks/mm14ro/nikolaikrambrock.png';
import ImgAlexanderTuriak from '../../assets/talks/mm14ro/alexanderturiak.png';
import ImgDavidManners from '../../assets/talks/mm14ro/davidmanners.png';
import ImgRazvanStoica from '../../assets/talks/mm14ro/razvanstoica.png';
import ImgBogdanGeorgescu from '../../assets/talks/mm14ro/bogdangeorgescu.png';

---

<Layout title="Meet Magento 2014">
	<main>
		<PageBanner title="Meet Magento 2014" />
        <SubNavigation selected="mm14ro" />

		<div class="container flex items-center flex-wrap mx-auto pb-20 sm:pb-26 md:flex-nowrap md:gap-6">
			<div class="w-full sm:w-1/2 flex-col pt-4 sm:order-first order-last">
				<h5>2014 Edition</h5>
				<h2 class="pb-3">Photos & After-Movie</h2>
				<p class="text-l font-normal text-gray-600 pb-3">Meet Magento Romania 2015 was held on September 13-14 at Grand Hotel Napoca, Cluj-Napoca.</p>
				<p class="text-l font-normal text-gray-600 pb-8">Check out the photo albums on Facebook and tag yourself and watch the after-movie on YouTube.</p>
				<div class="flex w-full">
					<a
						id="photos-fb-link"
						class="flex-1 w-full max-w-48 bg-orange-600 button-m text-white rounded
							py-4 px-4 text-center hover:bg-orange-700 focus:outline-none"
						href="https://www.facebook.com/media/set/?set=a.741276869240845&type=3"
						target="_blank"
					>
						Facebook Album
					</a>
				</div>
			</div>
			<div class="w-full sm:w-1/2 flex-col pt-4">
				<iframe 
					width="560" 
					height="315" 
					src="https://www.youtube.com/embed/QOGSUG-uw9g" 
					title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen
					class="w-full lg:w-[560px]"
				></iframe>
			</div>
		</div>

        <h2 class="container pb-4 sm:pb-8">Presentations</h2>
        <h4 class="container pb-4">Keynote</h4>
        <div class="container grid grid-cols-1 md:grid-cols-2 mx-auto pb-4 sm:pb-4 gap-6">
            <Talk 
                image={ImgThomasGoletz}
                title="Meet Magento, Magento, Romania & Europe" 
                language="en"
                speaker="Thomas Goletz" 
                speakerCompany="Meet Magento Association" 
            />
            <Talk 
                image={ImgBenMarks}
                title="The Care and Feeding of Magento Developers" 
                language="en"
                speaker="Ben Marks" 
                speakerCompany="Magento" 
            />
            <Talk
                image={ImgPanel2}
                title="Magento Community" 
                language="en"
                speaker="Thomas Goletz, Ben Marks, Vlad Stănescu, Marius Străjeru" 
                speakerCompany="" 
            />
        </div>
        <h4 class="container py-4">Business Track</h4>
        <div class="container grid grid-cols-1 md:grid-cols-2 mx-auto pb-4 sm:pb-4 gap-6">
            <Talk
                image={ImgVladStanescu}
                title="Magento: Start-up & Growth" 
                language="ro"
                speaker="Vlad Stănescu" 
                speakerCompany="MindMagnet"
            />
            <Talk
                image={ImgThomasGoletz}
                title="Using Open Source for implementing your business strategy" 
                language="en"
                speaker="Thomas Goletz" 
                speakerCompany="Meet Magento Association" 
            />
            <Talk
                image={ImgMattMacDougall}
                title="Building Loyalty" 
                language="en"
                speaker="Matt MacDougall" 
                speakerCompany="Rocket Web" 
            />
            <Talk
                image={ImgMariusLazarescu}
                title="7 ideas to get more clients from online marketing campaigns in 2014" 
                language="ro"
                speaker="Marius Lăzărescu" 
                speakerCompany="" 
            />
            <Talk
                image={ImgAlexUrsa}
                title="ERP Integrations with Magento: How to do it fast, good and affordable" 
                language="ro"
                speaker="Alex Ursa" 
                speakerCompany="Netlogiq" 
            />
            <Talk
                image={ImgRazvanBarbu}
                title="Offline - Online Commerce" 
                language="ro"
                speaker="Răzvan Barbu" 
                speakerCompany="Zitec" 
            />
            <Talk
                image={ImgPanel1}
                title="eCommerce 360" 
                language="ro"
                speaker="Laurențiu Marian, Remus Lucuț, Ioana Costea" 
                speakerCompany="" 
            />
            <Talk
                image={ImgKubaZwolinski}
                title="Magento B2B case study" 
                language="en"
                speaker="Kuba Zwolinski" 
                speakerCompany="Snowdog" 
            />
            <Talk
                image={ImgDeryckHarlick}
                title="The forgotten heart of Magento: empowering end-users for the benefit of everyone" 
                language="en"
                speaker="Deryck Harlick" 
                speakerCompany="" 
            />
        </div>
        <h4 class="container py-4">Technical Track</h4>
        <div class="container grid grid-cols-1 md:grid-cols-2 mx-auto pb-4 sm:pb-4 gap-6">
            <Talk 
                image={ImgFabianBlechschmidt}
                title="Half a roush hour of magento" 
                language="en"
                speaker="Fabian Blechschmidt" 
                speakerCompany="" 
            />
            <Talk 
                image={ImgKamilBarbarski}
                title="Beyond Building Features - Agile Business Model Development with Lean Startup" 
                language="en"
                speaker="Kamil Barbarski" 
                speakerCompany="" 
            />
            <Talk 
                image={ImgTomRobertshaw}
                title="Responsive Design for Magento" 
                language="en"
                speaker="Tom Robertshaw" 
                speakerCompany="Meanbee" 
            />
            <Talk 
                image={ImgAntonKrill}
                title="Magento 2 Code Concepts" 
                language="en"
                speaker="Anton Krill" 
                speakerCompany="Magento" 
            />
            <Talk 
                image={ImgIgorMinialo}
                title="Modular development in Magento 2" 
                language="en"
                speaker="Igor Minialo" 
                speakerCompany="Magento" 
            />
            <Talk 
                image={ImgNikolaiKrambrock}
                title="Code Quality on Magento" 
                language="en"
                speaker="Nikolai Krambrock" 
                speakerCompany="" 
                video="https://youtu.be/dMVCgd67ctA"
            />
            <Talk 
                image={ImgAlexanderTuriak}
                title="Using Vagrant for Magento development" 
                language="en"
                speaker="Alexander Turiak" 
                speakerCompany="" 
            />
            <Talk 
                image={ImgDavidManners}
                title="MDD - Mistake Driven Development" 
                language="en"
                speaker="David Manners" 
                speakerCompany="" 
            />
            <Talk 
                image={ImgRazvanStoica}
                title="Cyber Monday, every Monday: Running a Large Scale Private Sales Site on AWS" 
                language="ro"
                speaker="Răzvan Stoica" 
                speakerCompany="Optaros" 
                video="https://youtu.be/eJMBXvXeyis"
            />
            <Talk 
                image={ImgBogdanGeorgescu}
                title="Magento Performance Monitoring and Troubleshooting with AppNeta TraceView" 
                language="ro"
                speaker="Bogdan Georgescu" 
                speakerCompany="Optaros" 
                video="https://youtu.be/hHycphRSkpw"
            />
        </div>

        <div class="container flex items-center flex-wrap mx-auto pt-12 pb-20 sm:pt-18 sm:pb-26 md:flex-nowrap md:gap-6">
            <div class="w-full flex-col order-last pt-4 sm:w-1/2 sm:pt-0 sm:order-first">
                <h5>Organised by</h5>
                <h2 class="pb-3">MindMagnet</h2>
            </div>
            <div class="flex w-full h-48 bg-purple-50 flex-col pt-4 sm:w-1/2 sm:pt-0 items-center justify-center">
                <img src="/assets/sponsors/mindmagnet.svg" alt="MindMagnet" class="w-1/2 mx-auto" />
            </div>
        </div>

		<Newsletter />
	</main>
</Layout>
