---
import Layout from '../../layouts/Layout.astro';
import PageBanner from '../../components/PageBanner.astro';
import SubNavigation from '../../components/Past/SubNavigation.astro';
import Talk from '../../components/Past/Talk.astro';
import Newsletter from '../../components/Newsletter.astro';

import ImgBenMarks from '../../assets/talks/mm17ro/benmarks.png';

import ImgElenaDobre from '../../assets/talks/mm17ro/elenadobre.png';
import ImgBogdanHerea from '../../assets/talks/mm17ro/bogdanherea.png';
import ImgDorinBoerescu from '../../assets/talks/mm17ro/dorinboerescu.png';
import ImgSergiuBabasan from '../../assets/talks/mm17ro/babasan.png';
import ImgRobertBerza from '../../assets/talks/mm17ro/robertberza.png';
import ImgValentinRadu from '../../assets/talks/mm17ro/valentinradu.png';
import ImgBogdanColceriu from '../../assets/talks/mm17ro/bogdancolceriu.png';
import ImgAdrianIlovan from '../../assets/talks/mm17ro/adrianilovan.png';
import ImgAlexandraCohutiu from '../../assets/talks/mm17ro/alexandracohutiu.png';
import ImgGuidoJansen from '../../assets/talks/mm17ro/guidojansen.png';
import ImgCristianFilimon from '../../assets/talks/mm17ro/cristianfilimon.png';

import ImgMariusStrajeru from '../../assets/talks/mm17ro/mariusstrajeru.png';
import ImgMaxYekaterynenko from '../../assets/talks/mm17ro/maxyekaterynenko.png';
import ImgTomRobertshaw from '../../assets/talks/mm17ro/tomrobertshaw.png';
import ImgRiccardoTempesta from '../../assets/talks/mm17ro/ricardotempesta.png';
import ImgRebeccaBrocton from '../../assets/talks/mm17ro/rebeccabrocton.png';
import ImgIevgenShakhsuvarov from '../../assets/talks/mm17ro/ievgenshakhsuvarov.png';
import ImgAndraLungu from '../../assets/talks/mm17ro/andralungu.png';
import ImgSanderMangel from '../../assets/talks/mm17ro/sandermangel.png';
import ImgSherrieRohde from '../../assets/talks/mm17ro/sherrierohde.png';
import ImgGoranBokun from '../../assets/talks/mm17ro/goranbokun.png';
import ImgPavloOkhrem from '../../assets/talks/mm17ro/pavlookhrem.png';
import ImgRazvanAvramescu from '../../assets/talks/mm17ro/razvanavramescu.png';
import ImgBartekIgielski from '../../assets/talks/mm17ro/bartekigielski.png';
import ImgMaciejKalkowski from '../../assets/talks/mm17ro/maciejkalkowski.png';
import ImgNorbertHes from '../../assets/talks/mm17ro/norberthes.png';

---

<Layout title="Meet Magento 2017">
	<main>
		<PageBanner title="Meet Magento 2017" />
        <SubNavigation selected="mm17ro" />

		<div class="container flex items-center flex-wrap mx-auto pb-20 sm:pb-26 md:flex-nowrap md:gap-6">
			<div class="w-full sm:w-1/2 flex-col pt-4 sm:order-first order-last">
				<h5>2017 Edition</h5>
				<h2 class="pb-3">Photos & After-Movie</h2>
				<p class="text-l font-normal text-gray-600 pb-3">Meet Magento Romania 2017 was held on October 16-17 at Grand Hotel Italia, Cluj-Napoca.</p>
				<p class="text-l font-normal text-gray-600 pb-8">Check out the photo albums on Facebook and tag yourself and watch the after-movie on YouTube.</p>
				<div class="flex w-full">
					<a
						id="photos-fb-link"
						class="flex-1 w-full max-w-48 bg-orange-600 button-m text-white rounded
							py-4 px-4 text-center hover:bg-orange-700 focus:outline-none"
						href="https://www.facebook.com/media/set/?set=a.1482875201747671&type=3"
						target="_blank"
					>
						Day 1
					</a>
					<a
						id="photos-fb-link"
						class="flex-1 w-full max-w-48 bg-orange-600 button-m text-white rounded
							py-4 px-4 mx-4 text-center hover:bg-orange-700 focus:outline-none"
						href="https://www.facebook.com/media/set/?set=a.1482882615080263&type=3"
						target="_blank"
					>
						Day 2
					</a>
				</div>
			</div>
			<div class="w-full sm:w-1/2 flex-col pt-4">
				<iframe 
					width="560" 
					height="315" 
					src="https://www.youtube.com/embed/R-5Szbt3byc" 
					title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen
					class="w-full lg:w-[560px]"
				></iframe>
			</div>
		</div>

        <h2 class="container pb-4 sm:pb-8">Presentations</h2>
        <h4 class="container pb-4">Keynote</h4>
        <div class="container grid grid-cols-1 md:grid-cols-2 mx-auto pb-4 sm:pb-4 gap-6">
            <Talk 
                image={ImgBenMarks}
                title="The future of Magento" 
                language="en"
                speaker="Ben Marks" 
                speakerCompany="Magento" 
                video="https://youtu.be/LlLWpaqGOL8"
            />
        </div>
        <h4 class="container py-4">Business Track</h4>
        <div class="container grid grid-cols-1 md:grid-cols-2 mx-auto pb-4 sm:pb-4 gap-6">
            <Talk
                image={ImgElenaDobre}
                title="Promovarea pe mobil - aplicații și mobi-site-uri - 7 recomandări de performanță" 
                language="ro"
                speaker="Elena Dobre" 
                speakerCompany="Zarbi"
                video="https://youtu.be/oXmotz4FRD8"
            />
            <Talk 
                image={ImgBogdanHerea}
                title="Roundtable - Provocarile unui eCommerce startup în 2018" 
                language="ro"
                speaker="Bogdan Herea" 
                speakerCompany="PitechPlus" 
            />
            <Talk 
                image={ImgDorinBoerescu}
                title="Performance marketing in sharing economy" 
                language="ro"
                speaker="Dorin Boerescu" 
                speakerCompany="2Performant" 
                video="https://youtu.be/uEaT7xWn_LU"
            />
            <Talk 
                image={ImgSergiuBabasan}
                title="GoOnline Roundtable" 
                language="ro"
                speaker="Sergiu Babașan, Ovidiu Kalman, Marius Panait, Marius Flore" 
                speakerCompany="Optimized" 
                video="https://youtu.be/d74s9856XE8"
            />
            <Talk 
                image={ImgRobertBerza}
                title="BlackFriday la FashionDays - interviu" 
                language="ro"
                speaker="Robert Berza" 
                speakerCompany="FashionDays" 
            />
            <Talk 
                image={ImgValentinRadu}
                title="How and why to make your Magento eCommerce Customer-Centric" 
                language="ro"
                speaker="Valentin Radu" 
                speakerCompany="Omniconvert" 
                video="https://youtu.be/mmpLJgX_wm0"
            />
            <Talk 
                image={ImgBogdanColceriu}
                title="The actual costs for operating an online store" 
                language="ro"
                speaker="Bogdan Colceriu" 
                speakerCompany="Frisbo" 
                video="https://youtu.be/g2gIGTTwJeI"
            />
            <Talk 
                image={ImgAdrianIlovan}
                title="Magento 2 vs WooCommerce pentru magazine online B2C și B2B" 
                language="ro"
                speaker="Adrian Ilovan" 
                speakerCompany="Netlogic" 
                video="https://youtu.be/55w6hgram64"
            />
            <Talk 
                image={ImgAlexandraCohutiu}
                title="From Setting Up The Relationship With The Investors to Data Protection" 
                language="ro"
                speaker="Alexandra Cohutiu" 
                speakerCompany="LLA" 
                video="https://youtu.be/DRcec6AnHAE"
            />
            <Talk 
                image={ImgGuidoJansen}
                title="Global and local strategies for Merchants and Agencies" 
                language="en"
                speaker="Guido Jansen" 
                speakerCompany="" 
                video="https://youtu.be/UEuyMR2c1-c"
            />
            <Talk 
                image={ImgCristianFilimon}
                title="Cum sa iti optimizezi relatia cu agentia de webdevelopment" 
                language="ro"
                speaker="Cristian Filimon" 
                speakerCompany="Symbolic" 
                video="https://youtu.be/Ijrd8xhz3Xo"
            />
        </div>
        <h4 class="container py-4">Technical Track</h4>
        <div class="container grid grid-cols-1 md:grid-cols-2 mx-auto pb-4 sm:pb-4 gap-6">
            <Talk 
                image={ImgMariusStrajeru}
                title="Because it's in the core" 
                language="en"
                speaker="Marius Străjeru" 
                speakerCompany="Arnia" 
                video="https://youtu.be/2ykt7m8lcEg"
            />
            <Talk 
                image={ImgMaxYekaterynenko}
                title="Magento 2 Open Source: What and How?" 
                language="en"
                speaker="Max Yekaterynenko" 
                speakerCompany="Magento" 
            />
            <Talk 
                image={ImgTomRobertshaw}
                title="Improving engagement and conversions with Progressive Web Apps" 
                language="en"
                speaker="Tom Robertshaw" 
                speakerCompany="MeanBee" 
            />
            <Talk 
                image={ImgRiccardoTempesta}
                title="The right tools for the right job" 
                language="en"
                speaker="Riccardo Tempesta" 
                speakerCompany=""
            />
            <Talk 
                image={ImgRebeccaBrocton}
                title="Do not attend this talk, the speaker is a complete fraud" 
                language="en"
                speaker="Rebecca Brocton" 
                speakerCompany="" 
            />
            <Talk 
                image={ImgIevgenShakhsuvarov}
                title="CQRS and Event Sourcing in Magento 2" 
                language="en"
                speaker="Ievgen Shakhsuvarov" 
                speakerCompany="Magento" 
            />
            <Talk 
                image={ImgAndraLungu}
                title="Tools out of the box with Magento 2 in PHPSTORM" 
                language="en"
                speaker="Andra Lungu" 
                speakerCompany="Bitbull"
            />
            <Talk 
                image={ImgSanderMangel}
                title="Headless Magento" 
                language="en"
                speaker="Sander Mangel" 
                speakerCompany="" 
            />
            <Talk 
                image={ImgSherrieRohde}
                title="Building an Inclusive Magento Community" 
                language="en"
                speaker="Sherrie Rohde" 
                speakerCompany="Magento"
                video="https://youtu.be/7eV4BbCVo3I"
            />
            <Talk 
                image={ImgGoranBokun}
                title="Start small to win or lose big - why you should keep an eye on details when managing eCommerce projects" 
                language="en"
                speaker="Goran Bokun" 
                speakerCompany="Inchoo"
                video="https://youtu.be/R_JvjGRmdys" 
            />
            <Talk 
                image={ImgIevgenShakhsuvarov}
                title="Magento 2.2 Technical Guidelines" 
                language="en"
                speaker="Ievgen Shakhsuvarov" 
                speakerCompany="Magento" 
                video="https://youtu.be/joLg84Xjy6Q"
            />

            <Talk 
                image={ImgPavloOkhrem}
                title="12 Ways to improve Magento 2 Security and Performance" 
                language="en"
                speaker="Pavlo Okhrem" 
                speakerCompany="" 
                video="https://youtu.be/eGbglrcwjB0"
            />
            <Talk 
                image={ImgRazvanAvramescu}
                title="Magento 2 on Kubernetes" 
                language="en"
                speaker="Răzvan Avramescu" 
                speakerCompany="" 
                video="https://youtu.be/mERet8xUoA0"
            />
            <Talk 
                image={ImgBartekIgielski}
                title="Magento 2 Front-end performance tips &amp; tricks" 
                language="en"
                speaker="Bartek Igielski" 
                speakerCompany="Snowdog" 
                video="https://youtu.be/ec1E6D3OVOg"
            />
            <Talk 
                image={ImgMaciejKalkowski}
                title="Magento 2 Server Optimisation" 
                language="en"
                speaker="Maciej Kalkowski" 
                speakerCompany="Snowdog" 
            />
            <Talk 
                image={ImgNorbertHes}
                title="Magento 2 Server Optimisation" 
                language="en"
                speaker="Norbert Hes" 
                speakerCompany="" 
                video="https://youtu.be/oC2PSu5z-0w"
            />
        </div>

        <div class="container flex items-center flex-wrap mx-auto pt-12 pb-20 sm:pt-18 sm:pb-26 md:flex-nowrap md:gap-6">
            <div class="w-full flex-col order-last pt-4 sm:w-1/2 sm:pt-0 sm:order-first">
                <h5>Organised by</h5>
                <h2 class="pb-3">MindMagnet</h2>
            </div>
            <div class="flex w-full h-48 bg-purple-50 flex-col pt-4 sm:w-1/2 sm:pt-0 items-center justify-center">
                <img src="/assets/sponsors/mindmagnet.svg" alt="MindMagnet" class="w-1/2 mx-auto" />
            </div>
        </div>

		<Newsletter />
	</main>
</Layout>
