---
import Layout from '../layouts/Layout.astro';
import PageBanner from '../components/PageBanner.astro';
import Talk from '../components/Agenda/Talk.astro';
import Filler from '../components/Agenda/Filler.astro';
import Newsletter from '../components/Newsletter.astro';

import ImgMathiasSchreiber from '../assets/talks/mm24ro/mathiasschreiber.png';
import ImgMariusStrajeru from '../assets/talks/mm24ro/mariusstrajeru.png';
import ImgPanel1 from '../assets/talks/mm24ro/panelos.png';

import ImgIvanChepurnyi from '../assets/talks/mm24ro/ivanchepurnyi.png';
import ImgIvanChepurnyiSmall from '../assets/speakers/mm24ro/ivanchepurnyi.jpg';
import ImgDenisaConstantinoiu from '../assets/talks/mm24ro/denisaconstantinoiu.png';
import ImgDenisaConstantinoiuSmall from '../assets/speakers/mm24ro/denisaconstantinoiu.jpg';
import ImgJohnHughes from '../assets/talks/mm24ro/johnhughes.png';
import ImgJohnHughesSmall from '../assets/speakers/mm24ro/johnhughes.jpg';
import ImgBogdanMarin from '../assets/talks/mm24ro/bogdanmarin.png';
import ImgBogdanMarinSmall from '../assets/speakers/mm24ro/bogdanmarin.jpg';
import ImgJakubWinkler from '../assets/talks/mm24ro/jakubwilkler.png';
import ImgJakubWinklerSmall from '../assets/speakers/mm24ro/jakubwilkler.jpg';
import ImgIuliaGreab from '../assets/talks/mm24ro/iuliagreab.png';
import ImgIuliaGreabSmall from '../assets/speakers/mm24ro/iuliagreab.jpg';

import ImgDanIlie from '../assets/talks/mm24ro/danilie.png';
import ImgDanIlieSmall from '../assets/speakers/mm24ro/danilie.jpg';
import ImgPiotrPantkowski from '../assets/talks/mm24ro/piotrpantkowski.png';
import ImgPiotrPantkowskiSmall from '../assets/speakers/mm24ro/piotrpantkowski.jpg';
import ImgAndreiLeica from '../assets/talks/mm24ro/andreileica.png';
import ImgAndreiLeicaSmall from '../assets/speakers/mm24ro/andreileica.jpg';
import ImgNickMuldoon from '../assets/talks/mm24ro/nickmuldoon.png';
import ImgNickMuldoonSmall from '../assets/speakers/mm24ro/nickmuldoon.jpg';
import ImgDmitriyGallamov from '../assets/talks/mm24ro/dmitriygallamov.png';
import ImgDmitriyGallamovSmall from '../assets/speakers/mm24ro/dmitriygallamov.jpg';
import ImgKubaZwolinski from '../assets/talks/mm24ro/kubazwolinski.png';
import ImgKubaZwolinskiSmall from '../assets/speakers/mm24ro/kubazwolinski.jpg';

import ImgValentinSandu from '../assets/talks/mm24ro/valentinsandu.png';
import ImgValentinSanduSmall from '../assets/speakers/mm24ro/valentinsandu.jpg';
import ImgBogdanIftemie from '../assets/talks/mm24ro/bogdaniftemie.png';
import ImgBogdanIftemieSmall from '../assets/speakers/mm24ro/bogdaniftemie.jpg';
import ImgAlinAlexandru from '../assets/talks/mm24ro/alinalexandru.png';
import ImgAlinAlexandruSmall from '../assets/speakers/mm24ro/alinalexandru.jpg';
import ImgValentinBolboaca from '../assets/talks/mm24ro/valentinbolboaca.png';
import ImgValentinBolboacaSmall from '../assets/speakers/mm24ro/valentinbolboaca.jpg';
import ImgSorinBarnutiu from '../assets/talks/mm24ro/sorinbarnutiu.png';
import ImgSorinBarnutiuSmall from '../assets/speakers/mm24ro/sorinbarnutiu.jpg';
import ImgAdrianIlovan from '../assets/talks/mm24ro/adrianilovan.png';
import ImgAdrianIlovanSmall from '../assets/speakers/mm24ro/adrianilovan.jpg';
import ImgVladMarincas from '../assets/talks/mm24ro/vladmarincas.png';
import ImgVladMarincasSmall from '../assets/speakers/mm24ro/vladmarincas.jpg';

---

<Layout title="Agenda - Meet Magento 2024">
	<main>
		<PageBanner title="Agenda" />

        <div class="container mx-auto my-12">
            <div class="grid grid-cols-1 md:grid-cols-7 gap-4">
                <!-- Opening -->
                <div class="sm:col-span-1 md:col-span-1 p-2 font-semibold text-xl border-l-4 border-gray-300">
                    09:00 - 10:00
                </div>
                <div class="sm:col-span-1 md:col-span-6 p-2">
                    <Filler
                        icon='registration'
                        title='Registration'
                        subtitle='Grab your badge and get ready for the event'
                    />
                </div>

                <!-- Joint - 1 -->
                <div class="sm:col-span-1 md:col-span-1 p-2 font-semibold text-xl border-l-4 border-gray-300">
                    10:00 - 10:05
                </div>
                <div class="sm:col-span-1 md:col-span-6 p-2">
                    <Filler
                        icon='opening'
                        title='OPENING: Welcome to Meet Magento 2024'
                        subtitle='Vlad Stănescu, Zento'
                        video="https://youtu.be/3GBtU3Z3Gfw"
                    />
                </div>
                <div class="sm:col-span-1 md:col-span-1 p-2 font-semibold text-xl border-l-4 border-gray-300">
                    10:05 - 10:30
                </div>
                <div class="sm:col-span-1 md:col-span-6 p-2">
                    <Talk 
                        image={ImgPanel1}
                        title="Panel: State of Community & Open Source" 
                        track="keynote"
                        language="en"
                        speaker="Hosted by Vlad Stănescu" 
                        speakerCompany="Zento"
                        video="https://youtu.be/MlVRCRn4eQU" 
                    />
                </div>

                <!-- Joint - 2 -->
                <div class="sm:col-span-1 md:col-span-1 p-2 font-semibold text-xl border-l-4 border-gray-300">
                    10:30 - 11:00
                </div>
                <div class="sm:col-span-1 md:col-span-6 p-2">
                    <Talk 
                        image={ImgBogdanMarin}
                        title="Adobe Innovation: Building the fastest ecommerce websites in the world" 
                        track="keynote"
                        language="en"
                        speaker="Bogdan Marin" 
                        speakerCompany="Adobe" 
                        video="https://youtu.be/OkychuN0SBU"
                    />
                </div>

                <!-- Coffee 1 -->
                <div class="sm:col-span-1 md:col-span-1 p-2 font-semibold text-xl border-l-4 border-gray-300">
                    11:00 - 11:30
                </div>
                <div class="sm:col-span-1 md:col-span-6 p-2">
                    <Filler
                        icon='coffee'
                        title='Coffee Break'
                        subtitle='Grab a coffee and visit our sponsors'
                    />
                </div>

                <!-- Split - 1 -->
                <div class="sm:col-span-1 md:col-span-1 p-2 font-semibold text-xl border-l-4 border-gray-300">
                    11:30 - 12:00
                </div>
                <div class="sm:col-span-1 md:col-span-3 p-2">
                    <Talk 
                        image={ImgIvanChepurnyi}
                        imageDesktop={ImgIvanChepurnyiSmall}
                        title="Blazingly Fast Catalog Data Streaming and Processing"
                        language="en"
                        track="technical"
                        speaker="Ivan Chepurnyi" 
                        video="https://youtu.be/wtJ3KvwUPkY"
                    />
                </div>
                <div class="sm:col-span-1 md:col-span-3 p-2">
                    <Talk 
                        image={ImgDenisaConstantinoiu}
                        imageDesktop={ImgDenisaConstantinoiuSmall}
                        title="Generatia Z si noua provocare digitala: Cum îți adaptezi strategia de comunicare?" 
                        track="business"
                        language="ro"
                        speaker="Denisa Constantinoiu" 
                        speakerCompany="Kollab" 
                        video="https://youtu.be/l8R2XXh6u14"
                    />
                </div>

                <!-- Split - 2 -->
                <div class="sm:col-span-1 md:col-span-1 p-2 font-semibold text-xl border-l-4 border-gray-300">
                    12:00 - 12:30
                </div>
                <div class="sm:col-span-1 md:col-span-3 p-2">
                    <Talk 
                        image={ImgJakubWinkler}
                        imageDesktop={ImgJakubWinklerSmall}
                        title="Challenges to Change: Harnessing Frustration for Innovation in Magento Development"
                        language="en"
                        track="technical"
                        speaker="Jakub Winkler" 
                        speakerCompany='Q-Solutions Studio'
                    />
                </div>
                <div class="sm:col-span-1 md:col-span-3 p-2">
                    <Talk 
                        image={ImgBogdanIftemie}
                        imageDesktop={ImgBogdanIftemieSmall}
                        title="BNPL - Oportunitati si beneficii" 
                        track="business"
                        language="ro"
                        speaker="Bogdan Iftemie" 
                        speakerCompany="PayPo" 
                    />
                </div>

                <!-- Split - 3 -->
                <div class="sm:col-span-1 md:col-span-1 p-2 font-semibold text-xl border-l-4 border-gray-300">
                    12:30 - 13:00
                </div>
                <div class="sm:col-span-1 md:col-span-3 p-2">
                    <Talk 
                        image={ImgJohnHughes}
                        imageDesktop={ImgJohnHughesSmall}
                        title='Evolutionary e-commerce - you need Hyvä, not a revolution' 
                        language="en"
                        track="technical"
                        speaker="John Hughes" 
                        speakerCompany="Hyvä"
                    />
                </div>
                <div class="sm:col-span-1 md:col-span-3 p-2">
                    <Talk 
                        image={ImgPiotrPantkowski}
                        imageDesktop={ImgPiotrPantkowskiSmall}
                        title="How does store stability affect a business?" 
                        track="business"
                        language="en"
                        speaker="Piotr Pantkowski" 
                        speakerCompany="cyber_Folks"
                    />
                </div>


                <!-- Lunch -->
                <div class="sm:col-span-1 md:col-span-1 p-2 font-semibold text-xl border-l-4 border-gray-300">
                    13:00 - 14:00
                </div>
                <div class="sm:col-span-1 md:col-span-6 p-2">
                    <Filler
                        icon='lunch'
                        title='Lunch'
                        subtitle='Sponsored by cyber_Folks'
                    />
                </div>

                <!-- Split - 4 -->
                <div class="sm:col-span-1 md:col-span-1 p-2 font-semibold text-xl border-l-4 border-gray-300">
                    14:00 - 14:30
                </div>
                <div class="sm:col-span-1 md:col-span-3 p-2">
                    <Talk 
                        image={ImgDanIlie}
                        imageDesktop={ImgDanIlieSmall}
                        title="Building a high-performance storefront on Edge Delivery Services for Adobe Commerce"
                        language="en"
                        track="technical"
                        speaker="Dan Ilie & Bogdan Marin" 
                        speakerCompany="Adobe" 
                    />
                </div>
                <div class="sm:col-span-1 md:col-span-3 p-2">
                    <Talk 
                        image={ImgIuliaGreab}
                        imageDesktop={ImgIuliaGreabSmall}
                        title="Maximizeaza vanzarile online: Cele mai eficiente funnel-uri de ecommerce" 
                        track="business"
                        language="ro"
                        speaker="Iulia Greab" 
                        speakerCompany="DoAds" 
                    />
                </div>

                <!-- Split - 5 -->
                <div class="sm:col-span-1 md:col-span-1 p-2 font-semibold text-xl border-l-4 border-gray-300">
                    14:30 - 15:00
                </div>
                <div class="sm:col-span-1 md:col-span-3 p-2">
                    <Talk 
                        image={ImgAndreiLeica}
                        imageDesktop={ImgAndreiLeicaSmall}
                        title="AI-Powered Shopping Assistants: Bridging LLM Chatbots with Unified Text and Visual Search"
                        language="en"
                        track="technical"
                        speaker="Andrei Leica" 
                        speakerCompany="Apsis"
                    />
                </div>
                <div class="sm:col-span-1 md:col-span-3 p-2">
                    <Talk 
                        image={ImgKubaZwolinski}
                        imageDesktop={ImgKubaZwolinskiSmall}
                        title="How to safely prepare your ecommerce for upcoming accessibility regulations in Europe (EAA)" 
                        track="business"
                        language="en"
                        speaker="Kuba Zwolinski" 
                        speakerCompany="Snowdog" 
                    />
                </div>

                <!-- Split - 6 -->
                <div class="sm:col-span-1 md:col-span-1 p-2 font-semibold text-xl border-l-4 border-gray-300">
                    15:00 - 15:30
                </div>
                <div class="sm:col-span-1 md:col-span-3 p-2">
                    <Talk 
                        image={ImgDmitriyGallamov}
                        imageDesktop={ImgDmitriyGallamovSmall}
                        title="Local development with advanced Docker"
                        language="en"
                        track="technical"
                        speaker="Dmitriy Gallamov" 
                        speakerCompany="Developers Alliance" 
                    />
                </div>
                <div class="sm:col-span-1 md:col-span-3 p-2">
                    <Talk 
                        image={ImgNickMuldoon}
                        imageDesktop={ImgNickMuldoonSmall}
                        title="How AI allows the small companies to play with the big boys" 
                        track="business"
                        language="en"
                        speaker="Nick Muldoon" 
                        speakerCompany="JH" 
                    />
                </div>


                <!-- Coffee 2 -->
                <div class="sm:col-span-1 md:col-span-1 p-2 font-semibold text-xl border-l-4 border-gray-300">
                    15:30 - 16:00
                </div>
                <div class="sm:col-span-1 md:col-span-6 p-2">
                    <Filler
                        icon='coffee'
                        title='Coffee Break'
                        subtitle='Grab a coffee and visit our sponsors'
                    />
                </div>

                <!-- Split - 7 -->
                <div class="sm:col-span-1 md:col-span-1 p-2 font-semibold text-xl border-l-4 border-gray-300">
                    16:00 - 16:30
                </div>
                <div class="sm:col-span-1 md:col-span-3 p-2">
                    <Talk 
                        image={ImgValentinSandu}
                        imageDesktop={ImgValentinSanduSmall}
                        title="Performance - Back to Basics"
                        language="en"
                        track="technical"
                        speaker="Valentin Sandu" 
                        speakerCompany="Reverse Seven"
                    />
                </div>
                <div class="sm:col-span-1 md:col-span-3 p-2">
                    <Talk 
                        image={ImgVladMarincas}
                        imageDesktop={ImgVladMarincasSmall}
                        title="Personalization in Magento 2 - what we can learn from Google, Netflix, Amazon and Facebook" 
                        track="business"
                        language="ro"
                        speaker="Vlad Marincaș" 
                        speakerCompany="Aqurate" 
                    />
                </div>

                <!-- Split - 8 -->
                <div class="sm:col-span-1 md:col-span-1 p-2 font-semibold text-xl border-l-4 border-gray-300">
                    16:30 - 17:00
                </div>
                <div class="sm:col-span-1 md:col-span-3 p-2">
                    <Talk 
                        image={ImgAlinAlexandru}
                        imageDesktop={ImgAlinAlexandruSmall}
                        title="The unused features of Monolog"
                        track="technical"
                        language="en"
                        speaker="Alin Alexandru" 
                        speakerCompany="Innobyte" 
                    />
                </div>
                <div class="sm:col-span-1 md:col-span-3 p-2">
                    <Talk 
                        image={ImgValentinBolboaca}
                        imageDesktop={ImgValentinBolboacaSmall}
                        title="De ce eșuează strategiile de marketing"
                        language="ro"
                        track="business"
                        speaker="Valentin Bolboaca" 
                        speakerCompany="Klain" 
                    />
                </div>

                <!-- Split - 9 -->
                <div class="sm:col-span-1 md:col-span-1 p-2 font-semibold text-xl border-l-4 border-gray-300">
                    17:00 - 17:30
                </div>
                <div class="sm:col-span-1 md:col-span-3 p-2">
                    <Talk 
                        image={ImgSorinBarnutiu}
                        imageDesktop={ImgSorinBarnutiuSmall}
                        title="A Tailwind of Change: from Luma to Hyvä"
                        language="en"
                        track="technical"
                        speaker="Sorin Bărnuțiu" 
                        speakerCompany="Baldwin"
                    />
                </div>
                <div class="sm:col-span-1 md:col-span-3 p-2">
                    <Talk 
                        image={ImgAdrianIlovan}
                        imageDesktop={ImgAdrianIlovanSmall}
                        title="Keyword Research + AI pentru vanzari mai mari" 
                        track="business"
                        language="ro"
                        speaker="Adrian Ilovan" 
                        speakerCompany="Netlogiq" 
                    />
                </div>


                <!-- Party -->
                <div class="sm:col-span-1 md:col-span-1 p-2 font-semibold text-xl border-l-4 border-gray-300">
                    20:00 - 00:00
                </div>
                <div class="sm:col-span-1 md:col-span-6 p-2">
                    <Filler
                        icon='party'
                        title='After Party - 404 Party'
                        subtitle="Drinks & Food at Colin's Gastro Pub sponsored by PayPo"
                        map="https://goo.gl/maps/qrVuQAmhofjfXMqo7"
                    />
                </div>
            </div>
        </div>

		<Newsletter />
	</main>
</Layout>
